.Profile {
    display: flex;
}

.Profile__Data {
    margin-left: 12px;
    flex-grow: 1;
}

.Profile-Data__UserName {
    font-size: 26px;
    margin-bottom: 12px;
    flex-grow: 1;
}

.Profile-Data-UserData__Fields {
    color: #6b6a6a;
    letter-spacing: 1px;
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    width: 150px;
}

.Profile-Data__Separator {
    height: 4px;
    border: 2px;
    border-radius: 14px;
    background: #fd044c;
}

.Profile-Data__EditBtn {
    margin-top: -2px;
}

.Profile-Data__UserData {
    display: flex;
}

.Profile-Data-UserData-Data__Item, .Profile-Data-UserData-Fields__Item {
    margin-top: 2px;
}

.Profile__Posts {
    margin-left: 12px;
}

.Profile-Posts__ProfileNewsList {
    margin-top: 12px!important;
}

.ProfileAvatar {
    width: 200px;
}

.EditButton {
    margin-top: 12px;
}
