.Chat {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  border-radius: 2px;
}

.Header {
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  padding-right: 12px;
}

.HeaderName {
  margin-left: 16px;
  font-weight: bold;
  color: #fd044c;
  align-self: center;
  flex-grow: 1;
}

.WriteMessage {
  display: flex;
}

.SendButton {
  min-width: 30px;
}

.Input {
  flex-grow: 1;
}

.Avatar {
  width: 38px;
}

.MessagesList {
  overflow: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column-reverse;
  padding: 16px 0;
}

.Message {
  display: flex;
}

.Message:last-child {
  margin-top: auto;
}

.MessageData {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.FromMe {
  flex-direction: row-reverse;
}

.Name {
  font-weight: bold;
  color: #fd044c;
}

.MessageOverlay {
  display: flex;
}

.Text {
  color: #000;
}

.MatchesPreviousSender {
  margin-top: 12px;
}
