.Profile {
    display: flex;
    min-width: 450px;
    flex-shrink: 0;
}

.ProfileData {
    flex-grow: 1;
}

.ProfileAvatar {
    width: 200px;
}

.Separator {
    height: 4px;
    border: 2px;
    border-radius: 14px;
    background: #fd044c;
}

.UserName {
    font-size: 26px;
    flex-grow: 1;
}


.EditProfile {
    height: 28px;
    margin-left: -12px;
}

.EditButton {
    margin-top: 4px;
    margin-left: -12px;
}

.PostCreator {
    margin-top: 12px;
}
